$color-red: #dd3737;
$color-blue: #05346d;
$color-black: #353333;
$color-grey: #424242;
$color-purple: #76559a;
$color-medium-grey: #525252;
$color-light-grey: #afafaf;
$color-very-light-grey: #f5f5f5f5;
$color-white: white;